$logoPaddingLeft: 8em;
$logoPaddingTop: 0.85em;
$logoPositionWidth: 1.85em;
$logoPositionHeight: 1.85em;
$backgroundImageHeader: url(../img/m-h-day.jpg) no-repeat;
$backgroundImageHeaderSize: 101%;
$backgroundImageHeaderPosition: 0px -183px;
$labelLogoColor: #2C2F3C;
$labelLogoLineHeight: 0.75;
$awesomeBackgroundColor: #14A0C7;
$fontFamilySans: 'Source Sans Pro', sans-serif;
$labelLogoFont: 'Hind', sans-serif;
$buttonColor: #699900;
$mainBackgroundColor: #FFFFFF;
$sectionTextColor: #2C2F3C;
$sectionMainColor: #B4BBC2;
$sectionBackCardColor: #2C2F3C;
$Gradient-1: #65950E;
$Gradient-2: #315FCC;