$logoPaddingLeft: 8em;
$logoPaddingTop: 0.85em;
$logoPositionWidth: 1.85em;
$logoPositionHeight: 1.85em;
$backgroundImageHeader: url(../img/m-h-night.jpg) no-repeat;
$backgroundImageHeaderSize: 101%;
$backgroundImageHeaderPosition: 0px -223px;
$labelLogoColor: #FFFFFF;
$labelLogoLineHeight: 0.75;
$awesomeBackgroundColor: #FF4E33;
$fontFamilySans: 'Source Sans Pro', sans-serif;
$labelLogoFont: 'Fresca', sans-serif;
$buttonColor: #E3AC00;
$mainBackgroundColor: #21232E;
$sectionTextColor:  #FFF;
$sectionMainColor: #B4BBC2;
$sectionBackCardColor: #3B3F50;
$Gradient-1: #DEA406;
$Gradient-2: #96324F;