.btn_input {
    background-color: grey;
    border-radius: 10px;
    color: white;
    float:right;
    font-size: 14px;
    margin-right: 900px;
}

.btn_clear {
    background-color: grey;
    border-radius: 10px;
    color: white;
    float:right;
    font-size: 14px;
    margin-right: -160px;
}

.list_of_sets {
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.link {
 text-decoration: none;
 font-size: 15px;
}

a {
    margin-left: 10px;
}

a:visited {
    text-decoration: none; 
}

nav {
    margin-top: 200px;
}

#input_term, #input_def {
    font-size: 17px;
    color: green;
    border-bottom-color: grey;
    border-left: none;
    border-top: none;
    border-right: none;
    margin-left: 10px;
}

::placeholder {
    color: grey;
}

.item {
    list-style: none;
    display: flex;
    align-items: baseline;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 10%;
}